@import "compass/css3";

$hint-color: rgb(0, 117, 218);
$duration: 200ms;










.mz-ed-format-bar {
    background-color: #DFDFDF;
    border: 1px solid #bfbfbf;
    border-top: 0;
    cursor: default;
    font-family: Helvetica;
    left: 50%;
    list-style: none;
    margin: 0 0 0 -239px;
    padding: 6px 8px;
    position: fixed;
    top: -50px;
    z-index: 100;

    @include transition(top 0.3s cubic-bezier(0.165, 0.84, 0.44, 1));

    &.mz-ed-active {
        top: 0;
    }

    li {
        display: inline-block;
        font-size: 14px;
        height: 26px;
        margin: 2px;
        padding-top: 5px;
        text-align: center;
        width: 30px;

        &:hover {
            background-color: #BFBFBF;
        }

        &.mz-ed-styles {
            padding-left: 8px;
            padding-right: 8px;
            width: auto;
        }
    }
}










.widgets {
    border: 1px solid black;
    position: fixed;
    right: 0;
    top: 0;

    .widget {
        border: 1px solid black;
        background: white;
        display: block;
        height: 50px;
        margin: 10px;
        text-align: center;
        width: 50px;

        &.draggable {
            border-style: dashed;;
        }
    }

    &:after {
        content: "";
        clear: both;
    }
}

.dd-helper {
    background: black;
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 999999;
}

.bar {
    background: red;
}

.droppable {
    .grid {
        outline-color: transparentize($hint-color, 0.8);

        .block {
            outline-color: transparentize($hint-color, 0.8) !important;
        }
    }
}

.tmp {
    background: black;
    color: white;
    padding: 5px;
    position: absolute;
    z-index: 100;
}

.layout {
    margin: 20px;

    [contenteditable="true"]:active,
    [contenteditable="true"]:focus {
        border-color: transparent;
        outline: none;
    }
}

.hint-bar {
    background: $hint-color;
    position: absolute;
    z-index: 100;
}

.hint-message {
    background: $hint-color;
    color: white;
    padding: 5px;
    position: absolute;
    z-index: 101;
}




.grid {
    outline: 1px solid transparent;
    outline-offset: -1px;
    @include transition(outline-color $duration);



    .text-drag-handle {
        background-color: white;
        background-image: url('/img/icon-move.svg');
        background-size: contain;
        border: 1px solid #aaa;
        cursor: move;
        display: none;
        height: 25px;
        opacity: 0;
        position: absolute;
        right: 12px;
        top: 12px;
        width: 25px;
        @include transition(opacity $duration);
    }

    .content {
        padding: 5px;
        *:first-child {
            margin-top: 0;
        }

        h1, h2, h3, p {
            font-family: "helvetica";
        }

        h1 {
            border-bottom: 1px solid #CCC;
            color: #444;
        }

        p {

        }

        &.image img {
            display: block;
            margin: auto;
            max-height: 100%;
            max-width: 100%;
        }  

        &.image {
            .image-cover {
                background-position: center center;
                background-size: cover;
                display: block;
                height: 400px;
                min-height: 40px;
                width: 100%;
            }
        }    
    }



    .block {
        background-color: transparent;
        min-height: 14px;
        min-width: 80px;
        outline: 1px solid transparent;
        outline-offset: -1px;
        overflow: hidden;
        position: relative;
        padding: 0;
        word-wrap: break-word;
        @include transition(outline-color $duration, background-color $duration);


        .resizer {
            background-color: transparentize($hint-color, 0.97);
            display: block;
            height: 100%;
            opacity: 0;
            outline: 1px solid $hint-color;
            outline-offset: -1;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;
            @include transition(opacity $duration);

            .bottom {
                background-color: $hint-color;
                bottom: 7px;
                cursor: ns-resize;
                height: 7px;
                left: 50%;
                margin-left: -25px;
                position: absolute;
                width: 50px;
                @include border-radius(5px);
                @include box-shadow(0px 0px 5px #FFF);
            }
        }

        &.default {
            cursor: default;

            .image {
                cursor: move;
            }

            .text-drag-handle {
                display: block;
            }

            &:hover {
                outline-color: #999;
                .text-drag-handle {
                    opacity: 1;
                }
            }
        }

        &.editing {
            background-color: transparentize($hint-color, 0.97);
            outline-color: $hint-color;
        }

        &.selected {
            outline-color: $hint-color;

            .resizer {
                cursor: move;
                opacity: 1;
                z-index: 1;
            }
        }

        &.moving {

        }
    }
}


/*
  Simple Grid
  Learn More - http://dallasbass.com/simple-grid-a-lightweight-responsive-css-grid/
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - dallasbass.com
*/

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

[class*='col-'] {
    float: left;
    max-height: 99999px;
    overflow: visible;
    position: relative;

    .content {
        padding: 10px;
    }

    .resizer-column {
        cursor: ew-resize;
        height: 100%;
        margin-right: -8px;
        opacity: 0;
        padding: 0 8px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        @include transition(opacity $duration);
        
        div {
            background: $hint-color;
            height: 100%;
            width: 1px;
        }

        &:hover, &.active {
            opacity: 1;
        }
    }
}

.grid > [class*='col-']:last-child .resizer-column {
    display: none;
}

.grid {
    width: 100%;
    max-width: 1140px;
    min-width: 755px;
    margin: 0 auto;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

.grid-pad {
}

.grid-pad > [class*='col-']:last-of-type {
}

.push-right {
    float: right;
}

/* Content Columns */

.dropped-col {
    width: 0% !important;
    height: 0 !important;
    word-break: normal !important;
}

.col-1-1, .col-12-12 {
    width: 100%;
}
.col-2-3, .col-8-12 {
    width: 66.66%;
}

.col-1-2, .col-6-12 {
    width: 50%;
}

.col-1-3, .col-4-12 {
    width: 33.33%;
}

.col-1-4, .col-3-12 {
    width: 25%;
}

.col-1-5 {
    width: 20%;
}

.col-1-6, .col-2-12 {
    width: 16.667%;
}

.col-1-7 {
    width: 14.28%;
}

.col-1-8 {
    width: 12.5%;
}

.col-1-9 {
    width: 11.1%;
}

.col-1-10 {
    width: 10%;
}

.col-1-11 {
    width: 9.09%;
}

.col-1-12 {
    width: 8.33%
}

/* Layout Columns */

.col-11-12 {
    width: 91.66%
}

.col-10-12 {
    width: 83.333%;
}

.col-9-12 {
    width: 75%;
}

.col-5-12 {
    width: 41.66%;
}

.col-7-12 {
    width: 58.33%
}

@media handheld, only screen and (max-width: 767px) {
    .grid {
        width: 100%;
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    [class*='col-'] {
        width: auto;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
}