/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 11, ../sass/screen.scss */
.widgets {
  border: 1px solid black;
  position: fixed;
  right: 0;
  top: 0;
}
/* line 17, ../sass/screen.scss */
.widgets .widget {
  border: 1px solid black;
  background: white;
  display: block;
  height: 50px;
  margin: 10px;
  text-align: center;
  width: 50px;
}
/* line 26, ../sass/screen.scss */
.widgets .widget.draggable {
  border-style: dashed;
}
/* line 31, ../sass/screen.scss */
.widgets:after {
  content: "";
  clear: both;
}

/* line 37, ../sass/screen.scss */
.dd-helper {
  background: black;
  position: absolute;
  height: 50px;
  width: 50px;
}

/* line 44, ../sass/screen.scss */
.bar {
  background: red;
}

/* line 49, ../sass/screen.scss */
.droppable .block {
  outline-color: rgba(0, 117, 218, 0.2) !important;
}
/* line 54, ../sass/screen.scss */
.droppable .grid {
  outline-color: rgba(0, 117, 218, 0.2);
}

/* line 59, ../sass/screen.scss */
.tmp {
  background: black;
  color: white;
  padding: 5px;
  position: absolute;
  z-index: 100;
}

/* line 67, ../sass/screen.scss */
.layout {
  margin: 20px;
}
/* line 74, ../sass/screen.scss */
.layout [contenteditable="true"]:active,
.layout [contenteditable="true"]:focus {
  border-color: transparent;
  outline: none;
}

/* line 80, ../sass/screen.scss */
.hint-bar {
  background: #0075da;
  position: absolute;
  z-index: 100;
}

/* line 86, ../sass/screen.scss */
.hint-message {
  background: #0075da;
  position: absolute;
  z-index: 101;
}

/* line 92, ../sass/screen.scss */
.grid {
  outline: 1px solid transparent;
  -webkit-transition: outline-color 0.3s;
  -moz-transition: outline-color 0.3s;
  -o-transition: outline-color 0.3s;
  transition: outline-color 0.3s;
}
/* line 97, ../sass/screen.scss */
.grid .block {
  outline: 1px solid transparent;
  -webkit-transition: outline-color 0.3s;
  -moz-transition: outline-color 0.3s;
  -o-transition: outline-color 0.3s;
  transition: outline-color 0.3s;
  min-height: 14px;
  padding: 0;
  overflow: hidden;
  word-wrap: break-word;
}
/* line 110, ../sass/screen.scss */
.grid .block:hover {
  border-color: #999;
}
/* line 116, ../sass/screen.scss */
.grid .content {
  padding: 5px;
}
/* line 118, ../sass/screen.scss */
.grid .content *:first-child {
  margin-top: 0;
}
/* line 122, ../sass/screen.scss */
.grid .content h1, .grid .content h2, .grid .content h3, .grid .content p {
  font-family: "helvetica";
}
/* line 126, ../sass/screen.scss */
.grid .content h1 {
  border-bottom: 1px solid #CCC;
  color: #444;
}
/* line 135, ../sass/screen.scss */
.grid .content.image img {
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

/*
  Simple Grid
  Learn More - http://dallasbass.com/simple-grid-a-lightweight-responsive-css-grid/
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - dallasbass.com
*/
/* line 155, ../sass/screen.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 161, ../sass/screen.scss */
body {
  margin: 0px;
}

/* line 165, ../sass/screen.scss */
[class*='col-'] {
  float: left;
}
/* line 169, ../sass/screen.scss */
[class*='col-'] .content {
  padding-right: 20px;
}

/* line 174, ../sass/screen.scss */
[class*='col-']:last-of-type {
  padding-right: 0px;
}

/* line 178, ../sass/screen.scss */
.grid {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
}

/* line 185, ../sass/screen.scss */
.grid:after {
  content: "";
  display: table;
  clear: both;
}

/* line 199, ../sass/screen.scss */
.push-right {
  float: right;
}

/* Content Columns */
/* line 205, ../sass/screen.scss */
.col-1-1 {
  width: 100%;
}

/* line 208, ../sass/screen.scss */
.col-2-3, .col-8-12 {
  width: 66.66%;
}

/* line 212, ../sass/screen.scss */
.col-1-2, .col-6-12 {
  width: 50%;
}

/* line 216, ../sass/screen.scss */
.col-1-3, .col-4-12 {
  width: 33.33%;
}

/* line 220, ../sass/screen.scss */
.col-1-4, .col-3-12 {
  width: 25%;
}

/* line 224, ../sass/screen.scss */
.col-1-5 {
  width: 20%;
}

/* line 228, ../sass/screen.scss */
.col-1-6, .col-2-12 {
  width: 16.667%;
}

/* line 232, ../sass/screen.scss */
.col-1-7 {
  width: 14.28%;
}

/* line 236, ../sass/screen.scss */
.col-1-8 {
  width: 12.5%;
}

/* line 240, ../sass/screen.scss */
.col-1-9 {
  width: 11.1%;
}

/* line 244, ../sass/screen.scss */
.col-1-10 {
  width: 10%;
}

/* line 248, ../sass/screen.scss */
.col-1-11 {
  width: 9.09%;
}

/* line 252, ../sass/screen.scss */
.col-1-12 {
  width: 8.33%;
}

/* Layout Columns */
/* line 258, ../sass/screen.scss */
.col-11-12 {
  width: 91.66%;
}

/* line 262, ../sass/screen.scss */
.col-10-12 {
  width: 83.333%;
}

/* line 266, ../sass/screen.scss */
.col-9-12 {
  width: 75%;
}

/* line 270, ../sass/screen.scss */
.col-5-12 {
  width: 41.66%;
}

/* line 274, ../sass/screen.scss */
.col-7-12 {
  width: 58.33%;
}

@media handheld, only screen and (max-width: 767px) {
  /* line 281, ../sass/screen.scss */
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  /* line 290, ../sass/screen.scss */
  [class*='col-'] {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
