<template name="page">

    {{> grid}}
    {{> widgets}}

</template>



<template name="grid">
    <div> <!-- style="width: 960px; border: 1px solid black;"> -->
    <div class="layout">
        
        <div class="grid grid-pad">
            <div class="col-12-12">
                <div class="block">
                <div class="content html">

<h1>I gotta piss</h1>
<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>
<p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass. </p>
<p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass. </p>

                </div></div>
            </div>
        </div>
        <div class="grid grid-pad">
            <div class="col-5-12">
                <div class="block">
                <div class="content html">

<h1>Hold on to your butts</h1>
<p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee. </p>

                </div></div>
            </div>

            <div class="col-7-12">
                <div class="block dd-target">
                <div class="content html">
                    <h1>No, motherfucker</h1>
<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>
                </div>
                </div>


                <div class="block dd-target">
                <div class="content html">
                <h1>I took lessons</h1>
<p>You see? It's curious. Ted did figure it out - time travel. And when we get back, we gonna tell everyone. How it's possible, how it's done, what the dangers are. But then why fifty years in the future when the spacecraft encounters a black hole does the computer call it an 'unknown entry event'? Why don't they know? If they don't know, that means we never told anyone. And if we never told anyone it means we never made it back. Hence we die down here. Just as a matter of deductive logic. </p>
                </div>
                </div>
            </div>
        </div>


        <div class="grid grid-pad">
            <div class="col-5-12">
                <div class="block">
                    <div class="content image">
                        <img src="http://i.imgur.com/1halPOH.jpg">
                    </div>
                </div>
                
            </div>

            <div class="col-7-12">
                <div class="block">
                <div class="content html">

<h1>I gotta piss</h1>
<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>
<p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass. </p>

                </div></div>
            </div>
        </div>
        <div class="grid grid-pad">
            <div class="col-5-12">
                <div class="block">
                <div class="content html">

<h1>Hold on to your butts</h1>
<p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee. </p>

                </div></div>
            </div>

            <div class="col-7-12">
                <div class="block dd-target">
                <div class="content html">
                    <h1>No, motherfucker</h1>
<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>
                </div></div>
            </div>
        </div>

    </div>
    </div>

</template>







<template name="widgets">

    <div class="widgets">

        <div class="widget">Widget 1</div>
        <div class="widget">Widget 2</div>
        <div class="widget">Widget 3</div>

    </div>

</template>